CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
lib/
.vscode/
training_set/audio/raw/
training_set/audio/formatted/
FrequencyGrapher/obj/
FrequencyGrapher/bin/
FrequencyGrapher/.vs/
FrequencyGrapher/Properties/
sklearn-env/Lib/site-packages/
